/* style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

.header--main {
    font-weight: normal;
    font-size: 50 px;
    color: #ffffff;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: gray;
}

.download-button {
    color: aquamarine;
    font-size: 16px;
}

.footer {
    text-align: right;
    color: gray;
}